<!-- Get 5 last posted posts -->

{% assign MAX_SIZE = 5 %}

{% assign internal_posts = site.posts | where_exp: 'item', 'item.seo.internal != true' %}
{% assign update_list = internal_posts | where_exp: 'item', 'item.hidden != true' %}

{% if update_list.size > 0 %}
  <section id="access-lastmod">
    <h2 class="panel-heading">Recently Posted</h2>
    <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
      {% for post in update_list limit: MAX_SIZE %}
        {% assign url = post.url | relative_url %}
        <li class="text-truncate lh-lg">
          <a href="{{ url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}